---
layout: base.njk
section: blog
permalink: /blog/index.html
---

<div class="page-container">
    <h1 class="text-2xl font-semibold py-2">{{ title }}</h1>
    {{ content | safe }} <hr/>
    {# Article List #}
    <div class="pb-10 border-b pt-10">
        <div class="grid grid-cols-2 gap-10">
            {% for article in articles %}
                <div class="w-[400px] p-4 border rounded-md cursor-pointer">
                    <h1 class="mt-2 font-semibold">{{ article.title }}</h1>
                    <p class="mt-2">{{ article.desc }}</p>
                    <a href="{{ article.url }}">
                        <button class="bg-black text-white p-2 rounded-md mt-2">Read</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>