---
layout: base.njk
section: projects
---

<div class="page-container">
    <h1 class="text-xl font-semibold py-2">{{ title }}</h1>
    {% if subtitle %}
        <p class="text-lg pb-2">{{ subtitle }}</p>
    {% endif %}
    <hr/> {{ content | safe }}
    {# Projects #}
    <div class="pb-10 border-b">
        <div class="flex items-center space-x-4">
            {% for project in projects %}
                <div class="w-[400px] p-4 border rounded-md cursor-pointer">
                    <img src="{{ project.image }}"/>
                    <h1 class="mt-2 font-semibold">{{ project.title }}</h1>
                    <button class="bg-black text-white p-2 rounded-md mt-2">Demo</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>