<form class="w-1/2 mt-10">
    <div class="mb-6">
        <input
            type="text"
            placeholder="Your Name"
            class=" w-full rounded py-3 px-[14px] text-body-color text-base border border-[f0f0f0] outline-none
                focus-visible:shadow-none focus:border-primary "/>
    </div>
    <div class="mb-6">
        <input
            type="email"
            placeholder="Your Email"
            class=" w-full rounded py-3 px-[14px] text-body-color text-base border border-[f0f0f0] outline-none
                focus-visible:shadow-none focus:border-primary "/>
    </div>
    <div class="mb-6">
        <input
            type="text"
            placeholder="Your Phone"
            class=" w-full rounded py-3 px-[14px] text-body-color text-base border border-[f0f0f0] outline-none
                focus-visible:shadow-none focus:border-primary "/>
    </div>
    <div class="mb-6">
        <textarea
            rows="6"
            placeholder="Your Message"
            class=" w-full rounded py-3 px-[14px] text-body-color text-base border border-[f0f0f0] resize-none outline-none
                focus-visible:shadow-none focus:border-primary "></textarea>
    </div>
    <div>
        <button
            type="submit"
            class=" w-full text-white bg-purple-500 rounded border border-primary p-3 transition hover:bg-opacity-90 ">
            Send Message
        </button>
    </div>
</form>