<header
    class="flex items-center justify-between h-[72px] border-b">
    {# Logo #}
    <div>
        <a href="{{'/' | url}}">
            <h1 class="text-2xl font-bold text-purple-600">HC</h1>
        </a>
    </div>
    {# links #}
    <div>
        <ul class="flex space-x-4 items-center">
            <a href="/about">
                <li>About</li>
            </a>
            <a href="/blog">
                <li>Blog</li>
            </a>
            <a href="/projects">
                <li>Projects</li>
            </a>
            <a href="/contact">
                <li>Contact</li>
            </a>
        </ul>
    </div>
</header>